
<div class="container">
    <form class=" form-group" action="/Home/Add/" method="post">
        <input type="text" class="form-control mt-2" name="FirstName" placeholder="First Name" />
        <input type="text" class="form-control mt-2" name="LastName" placeholder="Last Name" />
        <input type="text" class="form-control mt-2" name="Departmant" placeholder="Departmant" />
        <input type="submit" value="Send" class="btn btn-success form-control mt-2" />
    </form>
</div>