@model List<Student>
@{
    ViewData["Title"] = "Home Page";
}

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Departmant</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.Departmant</td>
            </tr>
        }
    </tbody>
</table>
